.abstract-design-icon {
  margin-bottom: -609px;
  height: 1282px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.banner {
  width: 1920px;
  height: 63px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--grey-10);
  border-bottom: 1px solid var(--grey-15);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) 0;
  max-width: 100%;
}
.text,
.text-button {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.text {
  height: 27px;
  max-width: 100%;
}
.text-button {
  text-decoration: underline;
  min-width: 91px;
  white-space: nowrap;
}
.frame-container,
.text-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.text-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-container {
  width: 464px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  height: 32px;
  width: 32px;
  border-radius: var(--br-56xl);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  z-index: 1;
}
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper {
  width: 1224px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.symbol-icon {
  height: 48px;
  width: 48px;
  position: relative;
}
.text-icon {
  align-self: stretch;
  height: 20.5px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi-9);
}
.navigation-bar-inner,
.symbol-parent {
  display: flex;
  justify-content: flex-start;
}
.symbol-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-2xs-2);
}
.navigation-bar-inner {
  width: 160px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.text-button1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 48px;
}
.text-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.text-button2,
.text1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 73px;
}
.text1 {
  min-width: 80px;
}
.button1 {
  border-radius: var(--br-3xs);
  background-color: var(--grey-08);
  border: 1px solid var(--grey-15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-4xl);
}
.text-button3 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 68px;
}
.frame-nav,
.navigation-bar-child {
  display: flex;
  align-items: flex-start;
}
.frame-nav {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--absolute-white);
  font-family: var(--font-urbanist);
}
.navigation-bar-child {
  width: 430px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-4xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.text2 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-urbanist);
  color: var(--absolute-white);
  text-align: left;
  display: inline-block;
  min-width: 88px;
}
.button2,
.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--grey-15);
  padding: var(--padding-sm) var(--padding-4xl);
  background-color: var(--grey-08);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  white-space: nowrap;
}
.button2:hover {
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.navigation-bar {
  align-self: stretch;
  background-color: var(--grey-10);
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-416xl);
  max-width: 100%;
}
.frame-parent {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 15px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--absolute-white);
  font-family: var(--font-urbanist);
}
.header,
.heading,
.paragraph {
  position: relative;
  max-width: 100%;
}
.header {
  align-self: stretch;
  height: 162px;
  border-bottom: 1px solid var(--grey-15);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading,
.paragraph {
  width: 1358px;
  line-height: 150%;
  display: inline-block;
}
.heading {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.paragraph {
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--grey-60);
}
.text-container {
  align-self: stretch;
  background: linear-gradient(95.93deg, #262626, rgba(38, 38, 38, 0) 53.06%);
  border-bottom: 1px solid var(--grey-15);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-131xl) var(--padding-xl) 158px var(--padding-143xl);
  gap: var(--gap-sm);
  max-width: 100%;
}
.text3,
.text4 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
}
.text3 {
  flex: 1;
  min-width: 184px;
  max-width: 100%;
}
.text4 {
  font-size: var(--font-size-lg);
  font-family: var(--font-urbanist);
  color: var(--absolute-white);
  text-align: left;
  min-width: 105px;
}
.button3,
.container1,
.input-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-5xl);
  background-color: var(--purple-60);
  border-radius: var(--br-3xs);
  flex-direction: row;
  gap: 8px;
  white-space: nowrap;
}
.button10:hover,
.button14:hover,
.button15:hover,
.button3:hover,
.button9:hover {
  background-color: var(--color-mediumslateblue);
}
.container1,
.input-field {
  box-sizing: border-box;
  max-width: 100%;
}
.input-field {
  width: 1300px;
  box-shadow: 0 0 0 10px #191919;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--grey-08);
  border: 1px solid var(--grey-15);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-lgi) var(--padding-lg)
    var(--padding-4xl);
  gap: var(--gap-31xl);
}
.container1 {
  width: 1596px;
  flex-direction: column;
  padding: 0 var(--padding-xl);
}
.line,
.text5 {
  position: relative;
}
.line {
  height: 28px;
  width: 1px;
  border-right: 1px solid var(--grey-15);
  box-sizing: border-box;
}
.text5 {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
  flex-shrink: 0;
}
.container3 {
  height: 27px;
  width: 177.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button4,
.input-field1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.button4 {
  height: 32px;
  width: 32px;
  border-radius: var(--br-27xl);
  background-color: var(--grey-10);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
}
.input-field1 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--grey-08);
  border: 1px solid var(--grey-15);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-lg)
    var(--padding-lgi);
  min-width: 293px;
  max-width: 299px;
  gap: var(--gap-xl);
}
.icon10 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.container2 {
  width: 1596px;
  border-radius: var(--br-xs);
  background-color: var(--grey-10);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.sub-container {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  z-index: 1;
  margin-top: -52px;
  font-size: var(--font-size-5xl);
  color: var(--grey-40);
}
.container,
.container-wrapper,
.sub-container {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.container {
  flex: 1;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.container-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-91xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--absolute-white);
  font-family: var(--font-urbanist);
}
.frame-child {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.frame-inner {
  top: 4.8px;
  left: 24px;
  width: 8.4px;
  height: 8.4px;
}
.frame-parent4 {
  width: 32.4px;
  height: 18px;
  position: relative;
}
.frame-parent3,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper1 {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.frame-parent3 {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.heading1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.frame-parent2,
.heading-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.heading-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent2 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.paragraph1 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.frame-parent1,
.paragraph-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.paragraph-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.frame-parent1 {
  width: 1367px;
  flex-direction: column;
  gap: var(--gap-sm);
}
.image-icon {
  align-self: stretch;
  height: 318px;
  position: relative;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text10 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.text-container1 {
  border-radius: var(--br-9xl);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-smi);
  white-space: nowrap;
  max-width: 100%;
}
.heading2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.read-more {
  text-decoration: underline;
  color: var(--absolute-white);
}
.paragraph2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  color: var(--grey-60);
}
.sub-container2,
.text-container2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-container2 {
  gap: var(--gap-7xs);
  font-size: var(--font-size-5xl);
}
.sub-container2 {
  gap: var(--gap-xl);
  max-width: 100%;
}
.number,
.text11 {
  position: relative;
  line-height: 150%;
}
.text11 {
  align-self: stretch;
  font-weight: 500;
}
.number {
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--absolute-white);
  display: inline-block;
  min-width: 117px;
  white-space: nowrap;
}
.text-container3 {
  width: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.text12 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-urbanist);
  color: var(--absolute-white);
  text-align: left;
}
.button9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-28xl);
  background-color: var(--purple-60);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.card,
.container8,
.sub-container3 {
  display: flex;
  justify-content: flex-start;
}
.sub-container3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-31xl);
  color: var(--grey-60);
}
.card,
.container8 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.container8 {
  align-self: stretch;
}
.card {
  border-radius: var(--br-xs);
  background-color: var(--grey-08);
  border: 1px solid var(--grey-15);
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--padding-19xl) var(--padding-20xl);
}
.number1 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-weight: 600;
  color: var(--absolute-white);
  display: inline-block;
  min-width: 103px;
  white-space: nowrap;
}
.text-container6 {
  width: 103px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.button10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-28xl);
  background-color: var(--purple-60);
  flex: 1;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 170px;
  white-space: nowrap;
}
.number2 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-weight: 600;
  color: var(--absolute-white);
  display: inline-block;
  min-width: 102px;
  white-space: nowrap;
}
.items-container,
.text-container9 {
  align-items: flex-start;
  justify-content: flex-start;
}
.text-container9 {
  width: 102px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.items-container {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: var(--gap-11xl);
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(384px, 1fr));
}
.text19 {
  width: 63px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-urbanist);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 30px;
  position: relative;
  line-height: 150%;
  text-align: left;
  display: inline-block;
  padding: 0;
}
.button12 {
  height: 58px;
  width: 58px;
  border-radius: var(--br-50xl);
  border: 1px solid var(--grey-15);
  box-sizing: border-box;
  padding: var(--padding-sm) var(--padding-smi);
}
.button12,
.button13,
.buttons-container,
.container11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button13 {
  height: 58px;
  width: 58px;
  border-radius: var(--br-50xl);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  box-sizing: border-box;
  padding: var(--padding-sm) var(--padding-smi);
}
.buttons-container,
.container11 {
  gap: var(--gap-3xs);
}
.container11 {
  align-self: stretch;
  border-top: 1px solid var(--grey-15);
  justify-content: space-between;
  padding: var(--padding-lg) 0 0;
  gap: var(--gap-xl);
}
.sub-container1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.cards-container,
.frame-parent5,
.sub-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cards-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 30px var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-lg);
}
.frame-parent5 {
  width: 1317px;
  flex-direction: column;
  gap: var(--gap-sm);
}
.heading6 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.placeholder {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-urbanist);
  font-size: var(--font-size-lg);
  background-color: transparent;
  height: 20px;
  flex: 1;
  position: relative;
  line-height: 20px;
  color: var(--grey-40);
  text-align: left;
  display: inline-block;
  min-width: 163px;
  padding: 0;
}
.input-field6 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-lgi);
}
.container12,
.sub-container8 {
  display: flex;
  align-items: flex-start;
}
.sub-container8 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 234px;
  max-width: 312px;
}
.container12 {
  width: 1397px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.text20 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.input-field10 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-lgi);
  gap: var(--gap-xs);
  white-space: nowrap;
  font-size: var(--font-size-lg);
  color: var(--grey-40);
}
.placeholder4 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 36px);
}
.input-field14 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-lgi);
  gap: var(--gap-xs);
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--grey-40);
}
.icon19,
.value1 {
  position: relative;
}
.icon19 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.value1 {
  align-self: stretch;
  line-height: 20px;
  font-weight: 500;
}
.value {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 141px;
}
.shape1 {
  width: 16px;
  height: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--purple-60);
}
.input-field15,
.shape,
.text-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.shape {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.input-field15,
.text-frame {
  flex: 1;
  box-sizing: border-box;
}
.input-field15 {
  border-radius: var(--br-5xs);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-4xl);
  gap: var(--gap-xs);
  min-width: 214px;
  max-width: 100%;
}
.text-frame {
  height: 20px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  min-width: 141px;
}
.shape-wrapper,
.shape2 {
  height: 16px;
  box-sizing: border-box;
}
.shape2 {
  width: 16px;
  position: relative;
  border-radius: 50%;
  border: 0 solid var(--purple-60);
}
.shape-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.input-field-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-lg);
  color: var(--grey-40);
}
.heading-parent,
.input-field-parent,
.sub-container-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.heading-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 438px;
}
.sub-container-parent {
  width: 1397.1px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-31xl);
}
.placeholder5 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.heading-group,
.input-field17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-field17 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-lgi);
  min-height: 170px;
  font-size: var(--font-size-lg);
  color: var(--grey-40);
}
.heading-group {
  width: 1397px;
  flex-direction: column;
  gap: var(--gap-base);
}
.shape3 {
  height: 28px;
  width: 28px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--grey-10);
  border: 1px solid var(--grey-15);
  box-sizing: border-box;
}
.terms-of-use {
  text-decoration: underline;
}
.text25 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 278px;
  max-width: 100%;
}
.frame-wrapper3,
.shape-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.shape-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.frame-wrapper3 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  min-width: 713px;
}
.button-label {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-urbanist);
  color: var(--absolute-white);
  text-align: left;
}
.button14,
.frame-parent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button14 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-27xl);
  background-color: var(--purple-60);
  border-radius: var(--br-5xs);
  white-space: nowrap;
}
.frame-parent9 {
  width: 1397px;
  flex-wrap: wrap;
  gap: var(--gap-31xl);
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.form,
.form-container {
  justify-content: flex-start;
  box-sizing: border-box;
}
.form {
  flex: 1;
  border-radius: var(--br-xs);
  border: 1px solid var(--grey-15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-79xl) var(--padding-xl) var(--padding-79xl)
    var(--padding-2xl);
  gap: var(--gap-31xl);
  max-width: 100%;
}
.form-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  font-size: var(--font-size-xl);
}
.form-container,
.frame-div,
.properties-page-desktop-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-div {
  width: 1617px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.properties-page-desktop-inner {
  width: 1901px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-131xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--absolute-white);
  font-family: var(--font-urbanist);
}
.abstract-design-icon1 {
  width: 566px;
  height: 308px;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  left: -20px;
  overflow: hidden;
  flex-shrink: 0;
}
.heading17,
.paragraph6 {
  width: 1154px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.heading17 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.paragraph6 {
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--grey-60);
}
.abstract-design-icon2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 725px;
  overflow: hidden;
  object-fit: contain;
}
.button15 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-5xl);
  background-color: var(--purple-60);
  position: absolute;
  top: 116px;
  left: 279px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.abstract-design-parent {
  width: 633px;
  height: 394px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -63px;
}
.cta,
.cta-wrapper,
.symbol-group {
  display: flex;
  justify-content: flex-start;
}
.cta {
  flex: 1;
  border-top: 1px solid var(--grey-15);
  border-bottom: 1px solid var(--grey-15);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-79xl) var(--padding-xl) var(--padding-79xl)
    var(--padding-143xl);
  position: relative;
  gap: var(--gap-sm);
  max-width: 100%;
}
.cta-wrapper,
.symbol-group {
  flex-direction: row;
}
.cta-wrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 var(--padding-81xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--absolute-white);
  font-family: var(--font-urbanist);
}
.symbol-group {
  width: 160px;
  align-items: flex-end;
  gap: var(--gap-2xs-2);
}
.icon21 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper,
.input-feild-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.input-feild-child {
  width: calc(100% - 100px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 27px;
  flex: 1;
  box-sizing: border-box;
  font-family: var(--font-urbanist);
  font-weight: 500;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
  min-width: 196px;
}
.icon22 {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 30px;
}
.frame-parent11,
.input-feild {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-feild {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--grey-08);
  border: 1px solid var(--grey-15);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-4xl);
  gap: var(--gap-3xs);
}
.frame-parent11 {
  width: 423px;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 423px;
  max-width: 100%;
}
.home,
.link,
.link1,
.link2,
.link3,
.link4 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 53px;
}
.link,
.link1,
.link2,
.link3,
.link4 {
  min-width: 100px;
}
.link1,
.link2,
.link3,
.link4 {
  min-width: 67px;
}
.link2,
.link3,
.link4 {
  min-width: 79px;
}
.link3,
.link4 {
  min-width: 98px;
}
.link4 {
  min-width: 44px;
}
.column,
.link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-container {
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  color: var(--absolute-white);
}
.column {
  gap: var(--gap-11xl);
}
.about-us,
.link5 {
  display: inline-block;
}
.about-us {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
  min-width: 80px;
}
.link5 {
  min-width: 77px;
}
.link5,
.link6,
.link7 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
}
.link6 {
  display: inline-block;
  min-width: 81px;
}
.link7 {
  min-width: 102px;
}
.link7,
.link8,
.link9 {
  display: inline-block;
}
.link8 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
  min-width: 80px;
}
.link9 {
  min-width: 87px;
}
.link10,
.link9,
.properties {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
}
.properties {
  display: inline-block;
  min-width: 88px;
}
.link10 {
  min-width: 64px;
}
.link10,
.link11,
.services {
  display: inline-block;
}
.link11 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
  min-width: 86px;
}
.services {
  min-width: 74px;
}
.contact-us,
.link12,
.link15,
.link17,
.link18,
.services {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
}
.contact-us,
.link15,
.link17,
.link18 {
  display: inline-block;
  min-width: 125px;
}
.contact-us,
.link17,
.link18 {
  min-width: 97px;
}
.link17,
.link18 {
  min-width: 108px;
}
.link18 {
  min-width: 90px;
}
.footer-link-container {
  width: 978px;
  justify-content: space-between;
  min-width: 978px;
}
.footer-link-container,
.frame-parent10,
.properties-page-desktop-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent10 {
  width: 1596px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.properties-page-desktop-child {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-81xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--grey-60);
  font-family: var(--font-urbanist);
}
.button16,
.container-inner,
.link-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-19xl);
}
.button16,
.container-inner {
  box-sizing: border-box;
}
.container-inner {
  width: 473px;
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
  max-width: 100%;
}
.button16 {
  height: 52px;
  width: 52px;
  border-radius: var(--br-39xl);
  background-color: var(--grey-08);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-sm);
}
.container14,
.properties-page-desktop {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}
.container14 {
  align-self: stretch;
  background-color: var(--grey-10);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-7xl) var(--padding-143xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--absolute-white);
  font-family: var(--font-urbanist);
}
.properties-page-desktop {
  width: 1920px;
  background-color: var(--grey-08);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1575px) {
  .navigation-bar {
    flex-wrap: wrap;
  }
  .footer-link-container,
  .frame-parent11 {
    flex: 1;
  }
  .frame-parent10 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1250px) {
  .navigation-bar {
    gap: var(--gap-198xl);
  }
  .text-container {
    padding-left: var(--padding-62xl);
    box-sizing: border-box;
  }
  .items-container {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(384px, 666px));
  }
  .shape-parent {
    flex-wrap: wrap;
  }
  .form {
    padding-top: var(--padding-45xl);
    padding-bottom: var(--padding-45xl);
    box-sizing: border-box;
  }
  .properties-page-desktop-inner {
    padding-bottom: var(--padding-44xl);
    box-sizing: border-box;
  }
  .cta {
    padding-left: var(--padding-62xl);
    box-sizing: border-box;
  }
  .footer-link-container {
    min-width: 100%;
  }
  .container14 {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: var(--padding-62xl);
    padding-right: var(--padding-62xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .frame-group,
  .text-parent {
    flex-wrap: wrap;
  }
  .navigation-bar {
    gap: var(--gap-90xl);
  }
  .header {
    height: auto;
    min-height: 162;
  }
  .heading {
    font-size: var(--font-size-19xl);
    line-height: 58px;
  }
  .text-container {
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
  .input-field {
    gap: var(--gap-6xl);
  }
  .container-wrapper {
    padding-bottom: var(--padding-52xl);
    box-sizing: border-box;
  }
  .heading1 {
    font-size: var(--font-size-19xl);
    line-height: 58px;
  }
  .sub-container3 {
    flex-wrap: wrap;
  }
  .card {
    gap: var(--gap-mini);
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .items-container {
    grid-template-columns: minmax(384px, 1fr);
  }
  .container12,
  .sub-container1 {
    gap: var(--gap-6xl);
  }
  .input-field-parent {
    flex-wrap: wrap;
  }
  .heading-parent {
    min-width: 100%;
  }
  .sub-container-parent {
    gap: var(--gap-6xl);
  }
  .frame-wrapper3 {
    min-width: 100%;
  }
  .form,
  .frame-parent9 {
    gap: var(--gap-6xl);
  }
  .form {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .frame-div {
    gap: var(--gap-21xl);
  }
  .properties-page-desktop-inner {
    padding-bottom: var(--padding-22xl);
    box-sizing: border-box;
  }
  .heading17 {
    font-size: var(--font-size-19xl);
    line-height: 58px;
  }
  .cta,
  .cta-wrapper {
    box-sizing: border-box;
  }
  .cta {
    padding-left: var(--padding-21xl);
  }
  .cta-wrapper {
    padding-bottom: var(--padding-46xl);
  }
  .frame-parent11 {
    min-width: 100%;
  }
  .footer-link-container,
  .link-parent {
    flex-wrap: wrap;
  }
  .link-parent {
    gap: var(--gap-lgi);
  }
  .container14 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frame-nav {
    flex-wrap: wrap;
  }
  .navigation-bar {
    gap: var(--gap-35xl);
  }
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 43px;
  }
  .text-container {
    padding-top: var(--padding-78xl);
    padding-bottom: 103px;
    box-sizing: border-box;
  }
  .text3 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .heading1 {
    font-size: var(--font-size-10xl);
    line-height: 43px;
  }
  .heading2,
  .number {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .button9 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sub-container3 {
    gap: var(--gap-6xl);
  }
  .number1 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .button10 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .number2 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .text19 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .container11 {
    flex-wrap: wrap;
  }
  .heading6 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .input-field15 {
    flex-wrap: wrap;
  }
  .button14 {
    gap: var(--gap-14xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-div {
    gap: var(--gap-xl);
  }
  .heading17 {
    font-size: var(--font-size-10xl);
    line-height: 43px;
  }
  .cta {
    padding-top: var(--padding-45xl);
    padding-bottom: var(--padding-45xl);
    box-sizing: border-box;
  }
  .input-feild {
    flex-wrap: wrap;
  }
  .about-us,
  .contact-us,
  .home,
  .properties,
  .services {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .properties-page-desktop-child {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
